*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.clear {
clear: both;
}

#main {

}

#header {
    height: 46px;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: black;
    position: fixed;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li  {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    padding: 0 24px;
    line-height: 46px;
    text-decoration: none;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: black;
    background-color: #ccc;
}

#nav .subnav {
    top: 100%;
    left: 0;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    position: absolute;
    background-color: white;
}


#nav .subnav a {
    padding: 0 12px;
    line-height: 38px;
    color: black;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    top: 0;
    right: 0;
    position: absolute;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    padding: 0 21px;
    float: right;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .menu-icon,
#header .search-icon {
    font-size: 18px;
    line-height: 46px;
    color: white;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(../img/slider/slider1.jpg) top center / cover no-repeat ;
}

#slider .text-content {
    width: 100%;
    bottom: 47px;
    color: white;
    position: absolute;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-descripsion {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 2px #000;
}


#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
}

#content .section-sub-heading {
    font-size: 15px;
    margin-top: 25px;
    opacity: 0.6;
    text-align: center;
    font-style: italic;
}

#content .about-text {
    line-height: 1.4;
    margin-top: 25px;
    text-align: center;
    text-align: justify;
}

#content .members-list {
    padding-top: 48px;
} 

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

#content .member-name {
    font-size: 15px;
}

/*TOUR SECTION*/

.tour-section {
    background-color: black;
}

.tickets-list {
    margin-top: 40px;
    background-color: white;
    list-style: none;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tickets-list .sold-out {
    margin-left: 16px;
    padding: 3px 8px;
    color: white;
    background-color: #f44336;
}

.tickets-list .quantity {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px;
    margin-top: -3px;
    background-color: black;
    color: white;
    text-align: center;
    float: right;
}

/* BEGIN PLACE */

.places-list {
    margin-top: 16px;
}

.place-item {
    width: 33.33333%;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}

.place-heading {
    font-size: 15px;
    font-weight: 550;
}

.place-time {
    margin-top: 15px;
    opacity: 0.6;
}

.place-desc {
    line-height: 1.4;
    margin-top: 15px;
}

.s-full-width {
    padding: 11px 20px;
    margin-top: 15px;
    color: #fff;
    background-color: black;
    text-decoration: none;
    display: inline-block;
    border: none;
}

.s-full-width:hover {
    color: #000;
    background-color: #ccc;
}

/*contact from*/

.contact-content {
    margin-top: 48px;
}

.contact-infor {
    font-size: 18px;
    line-height: 1.4;

}

.contact-infor a {
    color: #0241f1;
    opacity: 0.6;
}

.contact-infor a:hover {
    opacity: 1;
}

.contact-infor i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.row .input-send {
    padding: 9px 16px;
    margin-top: 16px;
    font-size: 15px;
    background-color: #000;
    color: #fff;
    float: right;
    border: none;
    -webkit-appearance: none;
    appearance: none;
}

.row .input-send:hover {
    background-color: #ccc;
    color: #000;
}

/* MAP SECTION */

.map-section img {
    width: 100%;
}

/* FOOTER SECTION */ 
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.3);
}

#footer .copyright {
    margin: 15px;
    font-size: 15px;
    opacity: 0.6;
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.8);
}

/* END FOOTER */

/*modal hide*/
.modal {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4) ;
    position: fixed;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-open {
    display: flex;
}

.modal-container {
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    animation: modalfadeIn ease 0.5s;
    background-color: #fff;
    position: relative;
}

.modal-header {
    height: 130px;
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 30px;
    background-color: #009688;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-heading-icon {
    margin-right: 10px;
}

.modal-close {
    top: 0;
    right: 0;
    padding: 10px;
    position: absolute;
    color: white;
}

.modal-close:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-lable {
    font-size: 15px;
    display: block;
    margin-bottom: 12px;
}    

.modal-body {    
    padding: 16px;
}

.modal-input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
    border: 1px solid #ccc;
}

.buy-ticket {
    width: 100%;
    font-size: 15px;
    padding: 12px;
    background-color: #009688;
    border: none;
    color: #fff;
    text-transform: uppercase;
}

.buy-ticket:hover {
    color:#000;
    background-color: #ccc;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalfadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px)
    }
    to {
        opacity: 1; 
        transform: translateY(0)
    }
}

